.container{
    margin-bottom: 100px;
}
.orange-bg{
    border-radius: 10px;
    background-color: turquoise;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding:9px 25px;
    cursor: pointer;
}
.card-button{
    text-align: center;
}
.tun{
    text-align: end;
    color: yellow;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    border-color: white;
    border-top: none;
}
.categories-hea{
    text-align: center;
}
.first-image{
    border-radius: 10px;
    box-shadow: cornsilk;
}